.cards_container{
    display: flex;
    justify-content: space-between;
}
.header{
    text-align: center;
    background: #1b1b1b;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
    margin: 0;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 230px;
    padding: 0px 10px;
    margin: 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: .5s;
    overflow: hidden;

    &:hover {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
    }
}
.title {
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: solid;
    width: 100%;
    text-align: center;
    background: #1b1b1b;
    color: #ffffff;
    padding: 10px;
}

.slidebox{
    overflow: hidden;
}

.files{
    position: relative;
    top: 30%;
}
.btn{
    padding: 10px;
    background-color: rgb(0, 0, 0);
    opacity: 70%;
    color: aliceblue;
    text-decoration: solid;
    border-radius: 10px;

}

/* Responsive Styles */

@media (max-width: 768px) {
    .cards_container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}