/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
  margin: 10px;
}

.body2 {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  animation: slidedown .5s ease forwards;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #2a2a72;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 10px;
  height: 60px;
}

.nav a {
  color: rgb(255, 255, 255);
  padding: 15px 25px;
  text-decoration: none;
  font-size: 1.1rem;
  overflow: hidden;
  text-align: center;
}

.nav a:hover {
  background-color: #009ffd;
}

.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.info {
  flex: 1;
  padding: 20px;
}


.button {
  padding: 10px 20px;
  background-color: #009FFD;
  color: white;
  font-size: 1.2rem;
  text-decoration: solid;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #007bff;
}

footer {
  background-color: #2a2a72;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.social-icons {
  position: fixed;
  top: 20%;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-icons img {
  display: block;
  width: 30px;
  margin-top: 10px;
}

/* Keyframe Animations */
@keyframes slideIn {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes slidedown {
  from {
      color: transparent;
      transform: translateY(-100%);
  }
  to {
      transform: translateY(0);
  }
}

/* Responsive Design */

/* Tablet */
@media (max-width: 800px) {
  .nav a {
      font-size: 0.8rem;
      padding: 10px 20px;
  }
  .container {
      flex-direction: column;
  }

  .social-icons {
    position: relative;
    top: auto;
    right: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 5px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .nav {
      flex-direction: column;
      height: auto;
  }
  .nav a {
      font-size: 0.7rem;
      padding: 10px;
  }
  .body2 {
      margin: 5px;
      padding: 10px;
  }
  .container {
      padding: 10px;
  }
  .button {
      padding: 8px 15px;
      font-size: 1rem;
  }
  .social-icons {
      position: relative;
      top: auto;
      right: auto;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      padding: 5px;
  }
  .social-icons img {
      width: 25px;
      margin: 5px;
  }
}
