/* Basic Reset */
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0px 200px;
  background-color: #0b0b0b; /* Dark background for entire page */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure body takes full height */
}

.body2 {
  margin: 0px 10px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}


@keyframes slidedown {
  from {
      color: transparent;
      transform: translateY(-100%);
  }
  to {
      transform: translateY(0);
  }
}



/* Mobile */
@media (max-width: 768px) {
  body{
    margin: 0;
  }
  .body2 {
    margin: 5px;
  }

  .button {
      font-size: 1rem;
  }
}
