.form-container {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin: 20px 10%;
}

h2 {
    margin-bottom: 20px;
    color: #3a3a3a;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

input, textarea {
    width: 48%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    width: 100%;
    resize: none;
    height: 100px;
}


.contact-info {
    margin-top: 20px;
    text-align: center;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
}


.contact-details p {
    margin-top: 10px;
}

.contact-details a {
    text-decoration: none;
    color: #3b5f56;
}

.contact-details a:hover {
    text-decoration: underline;
}