
.info{
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-basis: 70%;
}
.info h1{
    font-size: 40px;
    text-align: left;
} 
.info p{
    text-align: justify;
    margin-bottom: 20px;

}


.image{
    border-radius: 10px;
    width: 45%;
    padding: 20px;
}
.image img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallary{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}
.gallary img{
    text-align: center;
    align-items: center;
    width: 30%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

/* Responsive Styling */
/* Tablet */
@media (max-width: 800px) {
    .info {
        width: 100%; /* Expand to full width */
        margin: 10px 0; /* Center on smaller screens */
        padding: 15px;
    }
    .info h1 {
        font-size: 30px; /* Adjust heading size */
        text-align: center;
    }
    .info p {
        padding: 10px;
        text-align: center;
    }

    .image {
        width: 100%; /* Reduce image section width */
        margin: 0 auto; /* Center the image on the screen */
        padding: 0px;
    }

    .gallary img {
        width: 45%; /* Make images larger for better visibility */
        margin: 5px;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .info {
        width: 100%; /* Full width */
        padding: 10px;
    }
    .info h1 {
        font-size: 24px;
        padding: 5px;
        text-align: center;
    }
    .info p {
        font-size: 0.9rem; /* Smaller font for smaller screens */
        padding: 5px;
        text-align: center;
    }

    .image {
        width: 100%; /* Full width for better fit */
        margin: 0px auto;
        height: 100%;
        padding: 0px;
    }

    .gallary {
        flex-direction: column; /* Stack gallery images vertically */
        align-items: center;
    }
    .gallary img {
        width: 100%; /* Full width for mobile */
        margin: 5px;
    }
}
