h2{
    text-align: center;
    background: #eafff0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
}
.card{
    margin: 10px;
    padding: 5px;
    background: #f9f9f9;
    transition: box-shadow 0.3s;
    border: rgb(139, 82, 160) 1px solid;
    transition: .5s;

    .info{
        padding: 20px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        display: flex;

        .text{
            flex-basis: 90%;
        }

        .button{
            padding: 5px 20px;
            background: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
            text-align: left;

            &:hover{
                background: #0069d9;
            }
        }

    }

    img{
        width: 30%;
    }
}

.card:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border: rgb(232, 170, 255) 1px solid;
}





/* Responsive Styling */


/* Mobile */
@media (max-width: 768px) {
    h2 {
        font-size: 1.2rem; /* Further reduce font size */
        padding: 8px;
    }

    .card {
        flex-direction: column; /* Stack for compact fit */
        align-items: center;
        text-align: center;
        margin: 10px;
    }
}

