.header{
    text-align: center;
    background: #3f3f3f;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
}

.card{
    display: flex;
    background-color: aliceblue;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &:hover{
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        transition: box-shadow 0.3s;
        scale: 101%;
        transition: scale .5s linear ;
    }
}
.text{
    flex-basis: 90%;
}

.title{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 5px;
    text-decoration: solid;
    color: #000;

    &:hover{
        color: #00458B;
        text-decoration: underline;
    }
}

.info{
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;

    a{
        color: #555;
        text-decoration: none;
        &:hover{
            color: #00458B;
            text-decoration: underline;
        }
    }
}


.version{
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 1px;
    color: #fff;
    font-weight: bold;
    background-color: #009688;
  }
  
.preprint {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 1px;
    color: #fff;
    font-weight: bold;
    background-color: #dff84f;
    color: #333;
  }

.thumb{
    text-align: center;
    align-items: center;
    margin: 20px;
    

    img{
        width: 100px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    &:hover{
        img{
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    }
}



/* Responsive Styles */

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .thumb {
        flex-basis: 100%;
    }
}