.social-icons {
    position: fixed;
    top: 30%;
    left: 170px;
    background-color: white;
    padding: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    img{
      display: block;
      width: 30px;
      padding: 5px;

      &:hover {
        background-color: #007bff;
        transition: background-color 0.3s ease, color 0.3s ease;
        transition: color 0.3s ease;
        transition: box-shadow 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        border-radius: 50%;
    }
  }

  @media (max-width: 768px) {
    .social-icons {
        position: relative;
        display: flex;
        justify-content: center;
        margin: 5px;
        left: auto;
    }
  }